  <h2 class="text-info">Enter Product Details</h2>
  <form [formGroup]="productForm" class="p-3"
    style="background-color: white;border: 1px solid brown;border-radius: 5px;">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="form-group">
          <label for="name">Product Name : </label>
          <input type="text" formControlName="name" placeholder="product name" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="code">Product Code : </label>
          <input type="text" formControlName="code" placeholder="product code" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="image">Product Image : </label>
          <input type="text" formControlName="image" placeholder="product image link" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="hsnCode">Product HSNCODE : </label>
          <input type="text" formControlName="hsnCode" placeholder="product HSNCODE" class="form-control" required>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="form-group">
          <label for="price">Price : </label>
          <input type="text" formControlName="price" placeholder="149" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="description">Description : </label>
          <textarea type="text" formControlName="description" placeholder="about your product" class="form-control" rows="6"
            required></textarea>
        </div>
      </div>
      <button type="reset" class="btn btn-danger mx-1">Reset</button>
      <button type="submit" class="btn btn-success mx-1" (click)="onAddProduct()" >Add</button>
    </div>
  </form>
