.image{
  height: 150px;
  max-width: 150px;
  cursor: pointer;
  display: block;
  margin: 5px auto;
}

.product-name{
  padding: 0%;
  margin: 0%;
}
.product-box{
  max-width: 25%;
  max-height: 300px;
}
